.child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
  }
  