.child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
  }
  

  .cat-image {
    width: 100%; 
    max-width: 500px; 
    max-height: 400px; 
    border: 7px solid #4caf50; 
    border-radius: 20px; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
    margin-top: 20px;
    object-fit: cover; 
  
  @media (max-width: 768px) {
    .cat-image {
      max-width: 400px; 
      max-height: 350px;
      border: 6px solid #4caf50;
    }
  }
  
  @media (max-width: 480px) {
    .cat-image {
      max-width: 300px; 
      max-height: 250px; 
      border: 5px solid #4caf50;
    }
  }